table {
	padding: 15px;
	width: 400;
	height: 600;
	border: 5px;
	background-image: url('img/campo.jpg');
	background-size: 400px 600px;

}

td input[type="button"]{
	width: 150px;
	height: 150px;
	/*background: linear-gradient(#2EFE2E, white);*/
	}

td input[type="text"]{
	background-color: :white;
	text-align: right;
}
.celular{
	background-color:black;
	width: 400px;
	height: 30px;
	color:white;
	
}
.botonimageninicio{
 width: 150px;
	height: 150px;
	background:url('img/002-naturaleza.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagensesion{
 width: 150px;
	height: 150px;
	background:url('img/003-agricultor.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagenregistro{
 width: 150px;
	height: 150px;
	background:url('img/001-nota.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagenconsulta{
 width: 150px;
	height: 150px;
	background:url('img/002-busqueda.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagencontrol{
 width: 150px;
	height: 150px;
	background:url('img/001-controles.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagencontacto{
 width: 150px;
	height: 150px;
	background:url('img/002-negocios.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}

.botonimagenganado{
 width: 150px;
	height: 150px;
	background:url('img/001-animal.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}

.botonimagenlotes{
 width: 150px;
	height: 150px;
	background:url('img/002-naturaleza.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagenhorario{
 width: 150px;
	height: 150px;
	background:url('img/003-horario-de-clases.png');
  	background-repeat:no-repeat;
  	background-size:100px 100px;
  	background-color:#2EFE2E;
  	background-position:center;
  	display: inline-block;
	min-width:50px;
}
.botonimagennutrientes{
 width: 150px;
  height: 150px;
  background:url('img/001-ensalada.png');
    background-repeat:no-repeat;
    background-size:100px 100px;
    background-color:#2EFE2E;
    background-position:center;
    display: inline-block;
  min-width:50px;
}
.botonimagenvitaminas{
 width: 150px;
  height: 150px;
  background:url('img/002-enema.png');
    background-repeat:no-repeat;
    background-size:100px 100px;
    background-color:#2EFE2E;
    background-position:center;
    display: inline-block;
  min-width:50px;
}
.cabeceraCel{
  background-color:black;
  width: 400px;
  height: 30px;
  color:white;
  text-align: center;
}

#TablaGeneral{
    width: 400px;
    background-image: none;
    background-color: #FFFFFF;

  }
  .cabeceraTabla{
    border: 2px solid #add33c;
    background-color: #A7C941;
    text-align: center;
    color: #FFFFFF;
    
  }
  .contenidoTabla1{
     border: 2px solid #add33c;
    background-color:  #FFFFFF;
    text-align: left;
  }
  .contenidoTabla2{
     border: 2px solid #add33c;
    background-color: #ebf2d3;
    text-align: left;
    font-family: "Arial";
   
  }
  .btnVer{
    text-align: center;
    width: 75px;
    height: 20px;
    border: 2px solid #4ea692;
    color: #4ea692;
    background-color: #FFFFFF;
  }
  .btnRemover{
    width: 75px;
    height: 20px;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #ba3400;
    background-color: #ba3400;
  }
  .btnHorario{
    width: 130px;
    height: 30px;
    color: #000000;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    
  }
  .btnSeleccionado{
    width: 130px;
    height: 30px;
    color: #FFFFFF;
    border:3px;
    background-color: #4C9AFF;
    border-color:  #4C9AFF;
  }
  .cabeceraTablaHorario{
    font-family: "Arial";
    border: 1.5px solid #4C9AFF;


  }
  .TablaHorario{
    font-family: "Arial";
    text-align: center;
     border: 1.5px solid #4C9AFF;
     margin: 0px;
  }
  .editar{
    text-align: center;
    align-items: center;
    font-size: 0.8em;
  }
 