table {
	padding: 15px;
	width: 400;
	height: 600;
	border: none;
	background-image: url('img/campo.jpg');
	background-size: 400px 600px;
}
td input[type="button"]{
	width: 150px;
	height: 150px;
	background: linear-gradient(#2EFE2E, white);
	
}
td input[type="text"]{
	background-color: :white;
	text-align: right;
}
