#Principal {
		border: 1px solid #000000;
		width: 400px;
		height: 600px;
		position: relative;
		margin-bottom: auto;
	}
.divInterno{
	border: 2px solid #4C9AFF;
	width: 250px;
	height:20px;
	margin: 0px auto;
	color:#D8D8D8;
}
.cabeceraDiv{
	color: #000000;
	text-indent: 80px;
	margin-top: 25px;
	margin-bottom: 2px;
}
#InicioSesion{
	width: 150px;
	height:30px;
	margin-top: 25px;
    margin-left: 125px;
    background-color: #4C9AFF;
    border-color: #4C9AFF;
    color: #FFFFFF;

}
.recordarContraDiv{
	color: #4C9AFF;
	width: 200px;
	height:20px;
	background-color: transparent;
    border-color: transparent;
    margin-left: 140px;
}
.cbRecordar{
	margin-top: 25px;
    margin-left: 80px;
}
.btnRegistrar{
	color: #4C9AFF;
	background-color: transparent;
    border-color: transparent;
}
.nuevoDiv{
	text-align: center;
}
h1{
	color: #848484;
	text-align: center;
}
.cabeceraRegDiv{
	color: #000000;
	text-indent: 15px;
	margin-top: 15px;
	margin-bottom: 2px;
}

.nombreDiv{
	border: 2px solid #4C9AFF;
	width: 200px;
	height:20px;
	margin-left: 15px;
	color:#D8D8D8;
}
.cbGenero{
	margin-top: 0px;
    margin-left: 25px;
    color: black;
}
.combobxUbicacion{
	border: 2px solid #4C9AFF;
	width: 200px;
	height:20px;
	margin-left: 15px;
	color:black;
}
.centradosDiv{
	border: 2px solid #4C9AFF;
	width: 370px;
	height:20px;
	margin-left: 15px;
	color:#D8D8D8;
}

.nombreDiv3{
	border: 2px solid #4C9AFF;
	width: 40px;
	height:40px;
	margin-left: 340px;
	color:#D8D8D8;
}
.nombreDiv2{
	border: 2px solid #4C9AFF;
	width: 180px;
	height:20px;
	margin-left: 180px;
	color:#D8D8D8;
}
.cabeceraRegDiv2{
	color: #000000;
	text-indent: 20px;
	margin-top: 20px;
	margin-bottom: 2px;
	margin-left: 150px;
}

.combobxUbicacion2{
	border: 2px solid #4C9AFF;
	width: 180px;
	height:20px;
	margin-left: 180px;
	color:black;
}

.cbGenero2{
	margin-top: 0px;
    margin-left: 180px;
    color: black;
}

.btnSiguiente{
	color: #4C9AFF;
	background-color: transparent;
    border-color: transparent;
}
.btnReabasteceer{
	color: black;
	background-color: green;
    border-color: transparent;
}

.btnVaciar{
	color:black;
	background-color: red;
    border-color: transparent;
    width: 90px;
}
