table {
	padding: 15px;
	width: 400;
	height: 600;
	border: 5px;
	background-size: 400px 600px;

}
.celular{
	background-color:black;
	width: 400px;
	height: 30px;
	color:white;
	
}
.encabezadoRegistroGanado{
	background-size: 400px 100px;
	background-image: url('img/cows-in-a-line.jpg');
	background-repeat:no-repeat;
	width: 400px;
	height: 100px;
	
}
.encabezadoRegistroControl{
	background-size: 400px 100px;
	background-image: url('img/sistema.png');
	background-repeat:no-repeat;
	width: 400px;
	height: 100px;
}
ul.menu {
margin: 0;
padding: 0;
clear: both;
float: left;
list-style: none;
width: 405px;
}

ul.menu li{
  padding: .3em;
  display: block;
  float:left;
  text-decoration: none;
  color: black;
  background: white;
  border-top: 1px solid blue;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
