#Principal {
		background-image: url('img/cel.png');
		width: 372px;
		height: 670px;
		position: relative;
		margin-bottom: auto;
	}
.PrincipalInterno{
	border: 1px solid #000000;
	width: 328px;
	height: 548px;
	position: relative;
	left: 22px;
	right: 11px;
	top: 60px;
	
}
.divInterno{
	border: 2px solid #4C9AFF;
	width: 300px;
	height:20px;
	margin: 0px auto;
	color:#D8D8D8;
}
.cabeceraDiv{
	color: #000000;
	text-indent: 80px;
	margin-top: 25px;
	margin-bottom: 2px;
}
#InicioSesion{
	width: 150px;
	height:30px;
	margin-top: 25px;
    margin-left: 125px;
    background-color: #4C9AFF;
    border-color: #4C9AFF;
    color: #FFFFFF;

}
.recordarContraDiv{
	color: #4C9AFF;
	width: 200px;
	height:20px;
	background-color: transparent;
    border-color: transparent;
    margin-left: 140px;
}
.cbRecordar{
	margin-top: 25px;
    margin-left: 80px;
}
.btnRegistrar{
	color: #4C9AFF;
	background-color: transparent;
    border-color: transparent;
}
.nuevoDiv{
	text-align: center;
}
h1{
	color: #848484;
	text-align: center;
}
.cabeceraRegDiv{
	color: #000000;
	text-indent: 15px;
	margin-top: 15px;
	margin-bottom: 2px;
	font-family: "Arial";
	font-size: 10px;
	
}

.nombreDiv{
	border: 2px solid #4C9AFF;
	width: 200px;
	height:20px;
	margin-left: 15px;
	color:#D8D8D8;
	
}
.cbGenero{
	margin-top: 0px;
    margin-left: 25px;
    color: black;
    font-family: "Arial";
	font-size: 10px;
	
}
.combobxUbicacion{
	border: 2px solid #4C9AFF;
	width: 200px;
	height:20px;
	margin-left: 15px;
	color:black;
}
.centradosDiv{
	border: 2px solid #4C9AFF;
	width: 300px;
	height:20px;
	margin: 0px auto;
	color:#D8D8D8;
}

.nombreDiv3{
	border: 2px solid #4C9AFF;
	width: 20px;
	height:20px;
	margin-left: 110px;
	color:#D8D8D8;
	  font-family: "Arial";
    font-size:9px;
}
.nombreDiv2{
	border: 2px solid #4C9AFF;
	width: 180px;
	height:20px;
	margin-left: 110px;
	margin-top: 0px auto;
	color:#D8D8D8;
	  font-family: "Arial";
    font-size:12px;
}
.cabeceraRegDiv2{
	color: #000000;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 110px;
	  font-family: "Arial";
    font-size:12px;
}

.combobxUbicacion2{
	border: 2px solid #4C9AFF;
	width: 180px;
	height:20px;
		margin-left: 110px;
	
	color:black;
	  font-family: "Arial";
    font-size:12px;
}

.cbGenero2{
	margin-top: 0px;
    margin-left: 110px;
    color: black;
      font-family: "Arial";
    font-size:12px;
}

.btnSiguiente{
	color: #4C9AFF;
	background-color: transparent;
    border-color: transparent;
}
.btnReabasteceer{
	color: black;
	background-color: green;
    border-color: transparent;
}

.btnVaciar{
	color:black;
	background-color: red;
    border-color: transparent;
    width: 90px;
}
.btnRegistrarLote{
	width: 150px;
	height:20px;
	margin-left: 100px;
	margin-top: 5px;
    left: 125px;
   text-align: center;
    background-color: #4C9AFF;
    border-color: #4C9AFF;
    color: #FFFFFF;
}
.divCabeceraHorario{
	width: 250px;
	height: 25px;
	background-color: #000000;
	color: #FFFFFF;

}
.btnRegHorario{
	width: 100px;
    height: 30px;
    color: #000000;
    border: 2px solid #a7a6a6;
    background-color: #b2b2b2;
    margin-top: 18px;
    margin-left: 45px;
}
.imgCabecera{
	width: 328px;
	height: 150px;
	align-content: center;
}
.txtLargo{
	font-family: "Arial";
	font-size: 10px;

}
.nivel{
	font-family: "Arial";
	font-size: 14px;
}
#PrincipalControl{
background-image: url('img/cel - copia.png');
		width: 372px;
		height: 925px;
		position: relative;
		margin-bottom: auto;	
}
.PrincipalInternoControl{
	border: 1px solid #000000;
	width: 328px;
	height: 730px;
	position: relative;
	left: 22px;
	right: 11px;
	top: 60px;
}